<ion-header>
  <ion-toolbar>
    <ion-title>Create Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()" #form="ngForm">
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.firstName" name="firstName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.lastName" name="lastName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <span slot="title">Select a date of birth</span>
      <ion-datetime presentation="date" display-format="YYYY-MM-DD" [(ngModel)]="profile.dateOfBirth" name="dateOfBirth" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Street</ion-label>
      <ion-input type="text" [(ngModel)]="profile.address.street" name="street" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input type="text" [(ngModel)]="profile.address.city" name="city" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-input type="text" [(ngModel)]="profile.address.state" name="state" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Job Title</ion-label>
      <ion-input type="text" [(ngModel)]="profile.jobTitle" name="jobTitle" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="profile.phoneNumber" name="phoneNumber"  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Profile Photo</ion-label>
      <input type="file" accept="image/png, image/gif, image/jpeg" (change)="handleFileInput($event)" required>
    </ion-item>
    <ion-button color="dark" type="submit" expand="block" [disabled]="!form.valid">Create Profile</ion-button>
  </form>
</ion-content>