<ion-header>
  <ion-toolbar>
    <ion-title>Create Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.firstName" name="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.lastName" name="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="profile.dateOfBirth" name="dateOfBirth"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Street</ion-label>
      <ion-input type="text" [(ngModel)]="profile.address.street" name="street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input type="text" [(ngModel)]="profile.address.city" name="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-input type="text" [(ngModel)]="profile.address.state" name="state"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Job Title</ion-label>
      <ion-input type="text" [(ngModel)]="profile.jobTitle" name="jobTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="profile.phoneNumber" name="phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Profile Photo</ion-label>
      <input type="file" (change)="handleFileInput($event)">
    </ion-item>
    <ion-button type="submit" expand="block">Create Profile</ion-button>
  </form>
</ion-content>